<ul class="navbar-nav g-font-weight-600">
    <li class="nav-item g-mx-0"></li>
    <li class="nav-item g-mx-10--lg g-mx-20--xl">
        <NavLink class="nav-link text-uppercase g-color-primary--hover g-px-0" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>
    </li>
    <li class="nav-item g-mx-10--lg g-mx-20--xl">
        <NavLink class="nav-link text-uppercase g-color-primary--hover g-px-0" href="counter">
            Counter
        </NavLink>
    </li>
    <li class="nav-item g-mx-10--lg g-mx-20--xl">
        <NavLink class="nav-link text-uppercase g-color-primary--hover g-px-0" href="blogs">
            Blogs
        </NavLink>
    </li>
    <li class="nav-item g-mx-10--lg g-mx-20--xl">
        <NavLink class="nav-link text-uppercase g-color-primary--hover g-px-0" href="fetchdata">
            Fetch data
        </NavLink>
    </li>
</ul>