<h3>Inbox Widget</h3>

@if (@MessageCount > 0)
{
    <h4>You currently have @MessageCount questions from bolg subscribers!</h4>
}
else
{
    <h4>No questions from blogs! All good!</h4>
}

<br />
<br />