@page "/counter"
@inject HttpClient http
@inject NavigationManager navigation

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<div class="container g-pt-50 g-pb-20">

    @if (Blogs == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="row justify-content-between">
            <div class="col-lg-12 g-mb-80">
                <div class="g-pr-20--lg">
                    <!-- Blog Minimal Blocks -->
                    @foreach (var blog in Blogs)
                    {
                        <h1>@blog.BlogName</h1>
                    }
                </div>
            </div>
        </div>
    }

</div>