@page "/"

<PageTitle>Index Page</PageTitle>

<section class="g-py-50">
    <div class="container">

        @foreach (var widgetType in Widgets)
        {
            <DynamicComponent Type="widgetType"></DynamicComponent>
        }

    </div>
</section>
